//Variables
$bground: #282c34;
$textgbround: #eee;
$button: #131518;
$card-background: #3a3657;
$card-header: #252330;
$fa-icon: #60cf6e;

//Elements
body{
    background-color: $card-background;
}
input{
    border-radius: 6px;
    background-color: $textgbround;
}

h1{
    margin: 0;
}
h3{
    color: white;
    text-align: center;
    margin: 0;
}
li{
    list-style-type: none;
}

//Page 1 Classes
.dev-container{
    display: flex;
    width: 50%;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: absolute;
    right: 0;
}
.logo{
    width: 60%;
    height: 20%;
    margin: 8px;
}
.form-container{
    height: 70%;
    width: 100%;
    display: flex;
}
.creator-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}
.checkbox-container{
   
    display: flex;
    height: 20%;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.tech-know{
    text-align: center;
    margin: 0;
}
.text-box{
    margin: 6px;
    height: 20%;
    width: 60%;
    display: flex;
}
.cc-text-box{
    margin: 6px;
    height: 20%;
    width: 100%;
    display: flex;
}
.title-box{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    margin: 8px;
}
.submit{
    width: 50%;
    height: 20%;
    color: white;
    background-color: $button;
    border-radius: 8px;
}
//Card Creator Classes
.card-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.left-container{
    width: 40%;
    height: 90%;
}
.right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 90%;
}
.header{
    width: 90%;
    height: 30%;
    margin: 8px;
    border-radius: 8px;
    padding: 16px;
    background-color: $card-header;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.profile-header{
    width: 84%;
    height: 30%;
    margin: 8px;
    border-radius: 8px;
    padding: 16px;
    background-color: $card-header;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.profile-picture{
    height: 80%;
    width: 80%;
    border-radius: 8px;
}
.user-profile-image{
    display: flex;
    width: 190px;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.user-information{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100px;
    width: 190px;
    border-radius: 6px;
    // background-color: #2de2e6;
}
.gallery-url{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
    color: white;
}    
.small-text{
    background-color: $button;
    color: white;
    margin: 8px;
    border-radius: 8px;    
    padding: 16px;
    width: 100%;
}
.small-text-list{
    background-color: $button;
    color: white;
    margin: 8px;
    border-radius: 8px;    
    padding: 16px;
    font-size: 0.75em;
}

.fa-icon{
    color: $fa-icon;
    margin: 8px;

}
.fa-icon-tech{
    font-size: 3em;
}
.tech-true{
    background-color: #04d361;
}
.connect{
    display: flex;
    align-items: center;
}
 .mini-cards {
    width: 100%;
    height: 80%;
    // display: flex;
    // flex-direction: row;
    // flex-wrap: nowrap;
    // align-items: center;
    // text-align: center;
  }
  .mini-cards a,
  .mini-cards span {
    width: 100%;
    height: 100%;
    margin: 2px;
    border-radius: 0.328rem;
    font-size: 6rem;
    background-color: #2a2c37;
    transition: background-color 0.4s ease-in-out;
  }
  .mini-cards a svg,
  .mini-cards span svg {
    color: #9580ff;
    transition: color 0.3s ease-in-out;
  }
   .mini-cards a:focus,
   .mini-cards a:hover,
   .mini-cards span:focus,
   .mini-cards span:hover {
    background-color: #04d361;
  }
   .mini-cards a:focus svg,
   .mini-cards a:hover svg,
   .mini-cards span:focus svg,
   .mini-cards span:hover svg {
    color: #22212c;
  }

  .book-text{
    background-color: $button;
    color: white;
    margin: 8px;
    border-radius: 8px;    
    padding: 16px;
    height: 10%;
  }
  .book-container{
      display: flex;
      align-items: center;
      background-color: #131518;
      border-radius: 8px;
      margin-bottom: 8px;

  }
  .book-image{
      border-radius: 8px;
      margin: 4px;
      height: 10%;
      object-fit: contain;
      width: 25%;
      
  }
  .known-tech{
      background-color: #04d361;
  }
  
  @media screen and (max-width: 65rem) {
    h1{
        font-size: 1em;
    }
    .tech-know{
        font-size: 0.75em;
    }
    label{
        font-size: 0.5em;
    }
    .checkbox-container{
    display: flex;
    height: 20%;
    width: 39%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    }
    .header{
        width: 70%;
    }
    .profile-header{
        width: 80%;
    }

    .mini-cards span{
        font-size: 3rem;
    }
  }
  @media screen and (max-width: 50rem) {
    .small-text-list{
        font-size: 0.5em;
    }
    h3{
        font-size: 1em;
    }
  }

  @media screen and (max-width: 30rem) {
     
  }

  /**Utilities */
  .test{
      outline: 1px solid black;
  }